.chatweb-container {
  background: #ffffff;
  border-radius: 16px;
  border: 2px solid #5c6ac4; /* Bordure bleue ajoutée */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  padding: 2rem;
  overflow: hidden;
  position: relative;
  top: 0;
  width: calc(100vw - 250px); /* Ajuster cette valeur si nécessaire */
  margin-left: 20px;
  margin-top: 20px;
}

.chatweb-header {
  background: #5c6ac4;
  padding: 1rem;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.chatweb-body {
  padding: 1rem;
  height: calc(100vh - 6rem - 4rem);
  overflow-y: auto;
  background: #fff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: calc(100vh - 8rem);
}

.chatweb-input {
  border-top: 1px solid #5c6ac4;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.chatweb-input input {
  flex-grow: 1;
  margin-right: 1rem;
  padding: 0.5rem;
  border: 1px solid #5c6ac4;
  border-radius: 8px;
}

.chatweb-input button {
  padding: 0.5rem 1rem;
  background-color: #5c6ac4;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.chatweb-input button:hover {
  background-color: #5c6ac4;
}

.chatweb-message {
  padding: 0.5rem 1rem;
  border-radius: 20px;
  margin: 0.25rem 0;
  max-width: 80%;
  word-wrap: break-word;
  background-color: #5c6ac4;
  color: #fff;
}

.chatweb-message.user {
  align-self: flex-end;
  background-color: #5c6ac4;
  color: #fff;
}

.chatweb-message.bot {
  align-self: flex-start;
  background-color: #5c6ac4;
}

.chatweb-suggestions {
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.suggestion-button {
  padding: 0.5rem 1rem;
  margin: 0.25rem 0;
  background-color: #e7e7e7;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.suggestion-button:hover {
  background-color: #d0d0d0;
}

.suggestions-title {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

@media (max-width: 480px) {
  .chatweb-container {
    width: calc(100vw - 40px); /* Adjusted to fit smaller screens */
    margin-left: 10px;
    margin-right: 10px;
    padding: 1rem;
  }

  .chatweb-header {
    padding: 0.5rem;
  }

  .chatweb-body {
    padding: 0.5rem;
    height: calc(100vh - 12rem); /* Adjust height to fit smaller screens */
  }

  .chatweb-input {
    flex-direction: column;
    align-items: stretch;
    padding: 0.5rem;
  }

  .chatweb-input input {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }

  .chatweb-input button {
    width: 100%;
    padding: 0.5rem;
  }

  .chatweb-message {
    max-width: 100%;
  }

  .suggestion-button {
    width: 100%;
    margin: 0.25rem 0;
  }
}
