.hero {
  color: #00457c;
  text-align: center;
  padding: 50px 50px;
  width: 50%;
}

.beta {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  position: relative;
  z-index: 1;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://i.pinimg.com/564x/9a/e7/95/9ae79506c718899f9c11e56dfb826a1e.jpg");
  background-size: cover;
  z-index: -10;
  filter: blur(5px);
}
.sigma {
  width: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  color: white;
}

.subtitle {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: white;
}

.freeTrialButton {
  background-color: #00457c;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
  transition: background-color 0.2s ease-in-out;
}

.freeTrialButton:hover {
  background-color: #002744;
}

/* section  */

.testimonialsSection {
  background-color: #00457c;
  color: white;
  padding: 50px 20px;
  text-align: center;
}

.testimonialsTitle {
  margin-bottom: 30px;
  font-size: 2rem;
  color: aliceblue;
}

.testimonialsContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.testimonialsContainer > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.testimonialPhoto {
  width: 300px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.testimonialPhoto:hover {
  transform: translateY(-10px);
}

.section {
  padding: 50px 0;
}

.teamMember {
  display: flex;
  align-items: center;
  margin: 20px 0;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  animation: fadeIn 1s ease-in-out;
}

.teamMember img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 20px;
}

.memberInfo {
  max-width: 600px;
}

.memberInfo h3 {
  margin: 0 0 10px;
}

.memberInfo p {
  margin: 0;
  color: #666;
}

.MyTeam {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 2rem;
}

.sigmaTitle {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 2rem;
}

.sigmaSubtitle {
  text-align: center;
  margin-top: 5px;
  padding: 0;
  font-size: 1rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.logo {
  width: 200px;
  height: 200px;
}

.footer {
  width: 100%;
  padding: 20px;
  text-align: center;
  background-color: #333;
  color: white;
}

@media screen and (max-width: 768px) {
  .hero {
    flex-direction: column;
    align-items: center;
  }
  .backgroundImage {
    display: none;
  }
  .beta {
    flex-direction: column;
    align-items: center;
  }
  .title {
    font-size: 2rem;
  }
  .subtitle {
    font-size: 1rem;
  }
  .freeTrialButton {
    font-size: 0.8rem;
  }

  .testimonialsContainer {
    flex-direction: column;
  }

  .teamMember {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .teamMember img {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .memberInfo {
    max-width: 100%;
  }

  .logo {
    width: 100px;
    height: 100px;
  }

  .footer {
    font-size: 0.8rem;
  }
}
