.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 5px 50px;
  border-bottom: 2px solid #000000;
  position: sticky;
  top: 0;
  background-color: #004085;
  color: white;
  height: 60px;
  z-index: 1000;
}

.alpha {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.nav a {
  cursor: pointer;
  font-size: large;
}
.nav a:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
}

.button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s, transform 0.2s;
}

.button:hover,
.nav-button:focus {
  background-color: #0056b3;
  transform: scale(1.05);
}

.button:active {
  background-color: #004085;
  transform: scale(0.98);
}

.logo {
  height: 100px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navItems {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
