.container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.calendarContainer {
  flex: 2;
  padding: 20px;
}

.formContainer {
  flex: 1;
  padding: 20px;
  background: #f9f9f9;
  border-left: 2px solid #eaeaea;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
}

form div {
  margin-bottom: 10px;
  width: 100%;
}

form label {
  margin-bottom: 5px;
  font-weight: bold;
}

form input {
  padding: 10px;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  width: 100%;
}

form button {
  padding: 10px;
  background-color: #5c6ac4;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
}

form button:hover {
  background-color: #4e5ba6;
}

.eventStart,
.eventEnd {
  background-color: #5c6ac4;
  color: white;
  padding: 2px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.formTitle {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
  width: 100%;
  max-width: 400px;
}
@media screen and (max-width: 768px) {
  .formContainer {
    border-left: none;
    border-top: 2px solid #eaeaea;
    padding: 20px;
    width: 100vw;
  }

  .formTitle {
    font-size: 1.2rem;
  }

  .eventStart,
  .eventEnd {
    font-size: 0.8rem;
  }

  form button {
    font-size: 0.8rem;
  }

  form input {
    font-size: 0.8rem;
  }

  form label {
    font-size: 0.8rem;
  }

  form div {
    margin-bottom: 5px;
  }

  .calendarContainer {
    padding: 10px;
  }

  .container {
    flex-direction: column;
  }

  .formContainer {
    margin-top: 20px;
  }

  .formTitle {
    margin-bottom: 10px;
  }

  .eventStart,
  .eventEnd {
    padding: 1px;
  }

  form button {
    padding: 5px;
  }

  form input {
    padding: 5px;
  }

  form label {
    margin-bottom: 2px;
  }

  form div {
    margin-bottom: 2px;
  }

  .calendarContainer {
    padding: 5px;
  }

  .container {
    flex-direction: column;
  }

  .formContainer {
    margin-top: 10px;
  }

  .formTitle {
    margin-bottom: 5px;
  }
}
